<app-titulo [titulo]="'Perfil' + (ehPalestrante ? ' Palestrante' : '')" [iconClass]="'fa fa-address-card'"></app-titulo>
<div class="card rounded shadow-sm">
  <div class="row p-3">
    <div class="col-lg-3 pt-1">
      <div class="card mb-3">
        <div class="card-header">
          <input type="file" #file (change)="onFileChange($event)" style="display: none;">
        </div>
        <div class="d-flex align-self-center pt-3">
          <img
            [src]="imagemURL"
            class="rounded-circle"
            (click)="file.click()"
            name="aboutme" width="120" height="120"
            style="cursor: pointer;">
        </div>
        <div class="card-body">
          <div class="h4 text-center mb-3">{{usuario.userName}}</div>
          <div class="h7 text-bold pb-1"><b>Nome:</b> {{usuario.primeiroNome + ' ' + usuario.ultimoNome}}</div>
          <div class="h7">
            {{usuario.descricao}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>